.RecipeCard{
  width: 200px;
  padding: 10px;
  margin: 20px 10px;
  box-shadow:7px 10px 12px -5px rgba(0,0,0,0.56);
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.RecipeCard>img{
   width:150px;
   height:100px;
   object-fit: cover;
   object-position: center;
   transition: all ease 500ms

}

.RecipeCard>img:hover{
transform:scale(1.04);
opacity:0.8;

}