.RecipeCard{
  padding: 10px;
  margin: 20px 10px;
  box-shadow: 1px 1px 5px 5px rgba(16,117,179,0.2);
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.RecipeCard>img{
   width: 100%;
   height: 150px;
   object-fit: cover;
   object-position: center;
   transition: all ease 500ms

}
